<div class="strib-styles ssa ssb ssc">
  <div class="container-lg elex-header">
    <h1>{archie.Headline}</h1>
    <p class="byline">By {archie.Byline} • <span>Star Tribune</span></p>
    <!-- share -->
  </div>
  <div class="container-lg elex-main">
    <div id="leadin">
      {@html archie.Leadin}
    </div>
    <section id="watch">
      <h2>{archie.Watch_heading}</h2>
      <p>{@html archie.Watch_leadin}</p>
      <ol>
        {#each archie.towatch as w}
        <li class="blue"><strong>{w.Heading}</strong>: {@html w.Text}</li>
      </ol>
    </section>
    <section id="do">
      <h2>{archie.Do_heading}</h2>
      <ol>
        {#each archie.todo as d}
        <li class="blue"><strong>{d.Heading}</strong>: {@html d.Text}</li>
      </ol>
    </section>
    <section id="resources" style="border-bottom:none;margin-bottom:0px;">
      <h2>Resources</h2>
      <p>Our journalists have been hard at work this election season creating tools and resources to help you make your decision in November. Check them out here:</p>
      <div id="promos">
        <div class="promo-row">
          <div class="promo large-tease">
            <div class="image">
              <a href="/483224571/"> 
                <img src="http://stmedia.stimg.co/VOTE_thumb.jpg?h=398&amp;w=637&amp;fit=crop&amp;bg=999&amp;crop=faces" alt="Minnesota Election Guide: Where major candidates stand on the issues">
              </a>
            </div>
            <div class="promo-text">
              <p><a href="/483224571/"><b>2018 Minnesota Election Guide:</b></a> Find where major candidates stand on the issues.</p>
            </div>
          </div>
          <div class="promo small-tease">
            <div class="promo-text">
              <p><a href="/478334513/"><b>Campaign finance:</b></a>
                <br> Lorem ipsum dolor sit amet, consectetur aadipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="promo small-tease">
            <div class="promo-text">
              <p><a href="/483224691/"><b>Election calendar:</b></a>
                <br>Lorem ipsum dolor sit amet, dconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="promo small-tease">
            <div class="promo-text">
              <p><a href="/493388571/"><b>How to vote early:</b></a>
                <br>Early voting in Minnesota started Sept. 21. Read our guide on how to cast your ballot.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
