
<div class="strib-styles ssa ssb ssc">
  <div class="container-lg elex-header">
    <h5 class="font-popular-medium">Election 2018</h5>
    <h1>Let the Star Tribune help you be a better voter this election season</h1>
    <p class="byline">By Lorem Ipsum • <span>Star Tribune</span></p>
    <!-- share -->
  </div>

  <div class="container-lg elex-main">

    <div id="leadin">
        <p>Minnesotans are already <a href="http://www.startribune.com/minnesota-had-the-nation-s-highest-voter-turnout-again-here-s-one-reason-why/416247753/">pretty good at voting</a>. But this election season, we want to help you be even better.</p>

        <p>Every Monday from now until Election Day, the Star Tribune will be providing resources to help you be a better, more informed voter — all in five minutes or less.</p>

        <p>We get it. You're busy. So each week we'll preview the major news you should watch out for in the world of politics. We'll also be giving you assignments: actionable things you can do to be better informed about the candidates, issues and events in the news this election season.</p>

        <p>Class starts today. Check back with us every week at <a href="startribune.com/bettervoter">startribune.com/bettervoter</a> for the latest.</p>
    </div>

      <section id="watch">
        <h2>Three things to watch</h2>

        <p>Believe it or not, by the time Friday rolls around, Minnesotans will already be casting their ballots. Campaign season is also starting to heat up in earnest, as candidates are starting to gear up for a frantic October. In other words: If you think you're seeing a lot of ads now, just wait a few weeks ...</p>

        <ol>
          <li class="blue"><strong>Early voting starts Friday</strong>: Yes, already. Polls open Friday for early voting. <a href="https://www.sos.state.mn.us/elections-voting/other-ways-to-vote/">Here's how to cast your ballot</a>.</li>
          <li class="blue"><strong>Walz, Johnson will debate Wednesday</strong>: DFL gubernatorial candidate Tim Walz and his Republican opponent, Jeff Johnson, will debate Wednesday afternoon in Plymouth at an event sponsored by the TwinWest Chamber of Commerce. It will stream <a href="https://www.youtube.com/watch?v=6OkFAa0RCj8">live on YouTube</a>.</li>
          <li class="blue"><strong>The Minnesota Poll is here</strong>: We began releasing the results of our latest <a href="http://www.startribune.com/the-minnesota-poll/468458743/">Minnesota Poll</a> on Sunday, but three more installments are still to come — including polling on races for Senate and attorney general.</li>
        </ol>

      </section>

      <section id="do">
        <h2>Three things to do</h2>

        <p>We'll start off easy. This week is all about setting yourself up for success over the next six weeks. By taking a few small steps now, we'll make sure you stay plugged in to the most important information you'll need to know before Election Day. Your future self will thank you:</p>

        <ol>
          <li class="red"><strong>Mark your calendar</strong>: Head on over to our <a href="http://www.startribune.com/minnesota-election-calendar-2018/483224691/">calendar of key dates</a> and add it to your scheduling tool of choice (<a href="">iPhone</a>, <a href="">Google</a>, or <a href="">other</a>) We'll make sure you don't miss anything important between now and Election Day.</li>
          <li class="red"><strong>Sign up to our politics newsletter</strong>: Even if it's just for the next six weeks, sign up to our politics newsletter: the Morning Hot Dish. Our reporters and editors will keep you posted on all the ups and down of campaign season — and it'll be delivered to your inbox, so you won't have to worry about missing anything. <a href="http://newsletters.startribune.com/pages/1788361/4540">Sign up here</a>.</li>
          <li class="red"><strong>Decide whether you want to vote early</strong>: Mind already made up? With early voting starting this week, you have the choice to cast your ballot by mail or in person (and avoid the lines on Election Day). Take a second to decide whether that's something you want to do. If it is, <a href="https://www.sos.state.mn.us/elections-voting/other-ways-to-vote/">learn how here</a>. But remember: A lot can change between now and November ...</li>
        </ol>

      </section>

      <section id="resources" style="border-bottom:none;margin-bottom:0px;">
        <h2>Resources</h2>

        <p>Our journalists have been hard at work this election season creating tools and resources to help you make your decision in November. Check them out here:</p>

        <div id="promos">

            <div class="promo-row">
                <div class="promo left">
                    <div class="image">
                      <img src="http://stmedia.stimg.co/VOTE_thumb.jpg?h=190&w=302&fit=crop&bg=999&crop=faces">
                    </div>

                    <div class="promo-text">
                      <h5>Election guide</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

                <div class="promo right">
                    <div class="image">
                      <img src="http://stmedia.stimg.co/ELX camfi gov2x.jpg?h=190&w=302&fit=crop&bg=999&crop=faces">
                    </div>

                    <div class="promo-text">
                      <h5>Campaign finance</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>

            <div class="promo-row">
                <div class="promo left">
                    <div class="image">
                      <img src="http://stmedia.stimg.co/ELX%20key%20dates2x.jpg?h=190&w=302&fit=crop&bg=999&crop=faces">
                    </div>

                    <div class="promo-text">
                      <h5>Key dates</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

                <div class="promo right">
                    <div class="image">
                      <img src="http://stmedia.stimg.co/ows_147951315137205.jpg?h=190&w=302&fit=crop&bg=999&crop=faces">
                    </div>

                    <div class="promo-text">
                      <h5>How to vote early</h5>
                      <p>Early voting in Minnesota started Sept. 21. Read our guide on how to cast your ballot.</p>
                    </div>
                </div>
            </div>

        </div>

      </section>

  </div>

</div>
