// Header styles
a:hover {
  color: #036;
}

.elex-header {
  text-align: center;
  max-width: 825px;
}

.elex-header h1 {
  padding-top: 0.3em;
  line-height: 1.1em;
}

.elex-header h5,
.elex-header h5 span {
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .08em;
  padding-top: 40px;
}

.elex-header h5 span {
  font-size: .96em;
  letter-spacing: .1em;
}

.elex-header h5 span,
.elex-header .byline {
  font-weight: bold;
}

.elex-header .byline span {
  font-weight: normal;
}

.elex-main {
  max-width: 800px;
  font-family: 'Benton Sans';
}

// Module styles
#leadin {
  padding-top: 30px;
  margin-bottom: 60px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;

  p {
    font-family: 'Benton Sans';
    font-size: 0.9em;
  }
}

section {
  margin-bottom: 40px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #dfdfdf;


  h2 {
    font-size: 1.4em;
    text-align: center;
    font-family: 'Benton Sans';
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    font-family: inherit;
    font-size: 0.9em;
    padding-top: 5px;
  }

  ol {
    // margin-top: 40px;
    margin: 40px 0 0 0;
    counter-reset: li;
    font-size: .9em;
    li {
      margin-left: 8%;
      margin-right: 8%;
      margin-top: 40px;
      list-style: none;
      position: relative;

      &:before {
        --size: 35px;

        width: var(--size);
        height: var(--size);

        position: absolute;
        left: calc(-1 * var(--size) - 15px);
        top: -7px;

        content: counter(li);
        counter-increment: li;
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        line-height: var(--size);

        background: white;
        text-align: center;

        font-weight: bold;
      }

      &.blue:before {
        border: 2px solid #333333;
        color: #333333;
      }

      &.red:before {
        border: 2px solid #333333;
        color: #333333;
      }
    }
  }
}



#promos {
  margin-top: 20px;
  display: inline-block;
  width: 100%;

  .promo-row {
    width: 100%;
    clear: both;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    .promo {
      display: block;

      &.large-tease {
        width: 100%;
        text-align: center;
        .image {
          width: 545px;
          margin: -2.3em auto -2em auto;
        }
        .promo-text {
          text-align: left;
        }
      }

      &.small-tease {
        width: 30%;
        text-align: center;
        text-align: left;
        margin-top: 2em;
      }
    }
    a,
    a:visited {
      color: #0a0203;
      text-decoration: none;
    }
    a:hover {
      color: #036
    }
  }
}

footer {
  margin-bottom: 70px;
}

footer p {
  font-family: 'Benton Sans';
  font-size: .8em;
  margin-bottom: 10px;
}
